.header {
    height: 8rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vw;
    box-shadow: 0 1px 10px 0 rgba(48, 48, 48);
}

.header span {
    font-size: 3rem;
}

.header input {
    width: 35vw;
    padding: 10px;
    border-radius: 10px;
    font-size: 2rem;
}
.header input:focus {
    outline: none;
}